# Config file for the the fitWanalyze code
# Data for the geometry taken from
# https://doi.org/10.1016/j.nanoen.2020.105191
#*********************************************
# Geometry information in units of microns
0.7             # p+ length (um)
1.2             # i/p-/n- length (um)
0.1             # n+ length (um)
0.2             # Nanowire diameter (um)
# Mobility information (crude estimates - David Winge)
100             # p+ mobility (cm^2/Vs) 
100             # i/p-/n- mobility   (cm^2/Vs)   
500             # n+ mobility (cm^2/Vs)
# Doping information (crude estimates - David Winge)
2e18            # p+ doping (cm^-3)
2e19            # n+ doping (cm^-3)
# the i/p-/n- doping is determined by the script