# Config file for the the fitWdark code
#*********************************************
# Name the header for the voltage and current columns and provide initial guess
Smu1_V(1)(1)    # Voltage column
Smu1_I(1)(1)    # Current column
1e-13           # J0: guess saturation current J0 (A)
2.0             # n0: guess ideality factor n 
1e4             # R0: guess series R (Ohm)
0.0             # V0: guess voltage drop (V)
0.4             # Vstart: lowest V to include in fit
True            # Flip negative voltage True/False
True            # Make a copy of the .xlsx file
False           # Make a plot of the fit